<div id="widget_lastest_glucose" class="col-md-3">
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <% if latest_glucose %>
            
            <h3 class="card-title">
                Glucose:
            </h3>
            <h2 class=""><%= latest_glucose.value %> mg/dl</h2>
            
            <% else %>
            
            <small>You don't have any glucose measure registered</small> 
            
            <% end %>
        </div>
        <% if latest_glucose %>
        
        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Registered: <%= latest_glucose.date.to_date() %></small>
            </div>
        </div>
        
        <% end %>
    </div>
</div>
