<% content_for :navbar do %>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" style="color:white">MEDIDATA</a>
  <ul class="navbar-nav">
    <li class="nav-item text-nowrap">
      <%= link_to "Sign in", new_user_session_path, :class => 'btn btn-light'  %>
    </li>
  </ul>
</nav>

<% end %>

<% content_for :content do %>

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4"> Medidata</h1>
    <p>
    All your medical information in one place. Just a few clicks away.
    </p>
    <%= link_to "Sign up now!", new_user_registration_path, :class => 'btn btn-primary' %>
  </div>
</div>

<% end %>