<% content_for :titlebar do %>
  <h2 style="color:white">Historic Relatives</h2>
<% end %>

<% if flash[:success] %>
      <div class="alert alert-success" role="alert">
	    <%= flash[:success] %>
      </div>
<% end %>                                                                                                                                                                                                           